<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
                <a href="/faves/animals">Animals</a>
        </li>
        <li>
                <a href="/faves/foods">Foods</a>
        </li>
        <li>
                <a href="/hates/hate-foods">Hated Foods</a>
        </li>
        <li>
                <a href="/hates/hate-animals">Hated Animals</a>
        </li>
    </ul>
</nav>